.home {
    margin-top: 20px;
}

.network-image {
    margin-top: 50px;
    background-image: url('../../../assets/images/1267597.jpg');
    height: 500px;
    /* margin-left: 20px;
    margin-right: 20px; */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
