@font-face {
    font-family: Allerta;
    src: url('../../../assets/fonts/Allerta/Allerta-Regular.ttf') format("opentype");
}

@font-face {
    font-family: Aileron-Regular;
    src: url('../../../assets/fonts/aileron_0102/Aileron-Regular.otf') format("opentype");
}

.home {
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 50px;
}

.head-title {
    margin-top: 100px;
    margin-bottom: 100px;
}

.introduction {
    margin-left: 200px;
    margin-right: 100px;
}

.ethereum-image {
    background-image: url('../../../assets/images/ethereum.jpg');
    height: 300px;
    width: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}

.introduction-text {
    font-weight: 500;
    padding-top: 70px;
    padding-left: 80px;
    padding-right: 50px;
    text-align: left;
}

h1 {
    font-family: 'Allerta'
}

p {
    font-family: 'Aileron-Regular';
    font-size: 20px;
}

.sections {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-right: 400px;
    padding-left: 400px;
}

.heading-section {
    margin-top: 150px;
    margin-bottom: 150px;
}

.section-1 {
    margin-top: 150px;
    margin-bottom: 150px;
}

.section-2 {
    margin-top: 150px;
    margin-bottom: 150px;
}

.section-3 {
    margin-top: 150px;
    margin-bottom: 150px;
}
