.form {
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
    align-content: center;
    /* align-items: center; */
}

.form-title{
    margin-top: 50px;
}

.account-address {
    margin-top: 30px;
    margin-left: 300px;
    margin-right: 300px;
    border: 2px solid #191970;
}

.receipt {
    width:100%;
    height:100%;
    margin-top: 100px;
    margin-bottom: 200px;
    align-items: center;
    justify-content: center;
}

.table-title {
    margin-bottom: 50px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0 auto;
}

th, td {
    padding: 5px;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}
