.transaction-details {
    margin-top: 50px;
    margin-bottom: 100px;
}

.form-div {
    margin-bottom: 20px;
}

/* .empty-space-before-footer {
    margin-bottom: initial;
} */

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
